.carousel {
  background-color: #f1f1f1;
  padding: 60px 20px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.carousel-slide {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  flex: 1;
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  padding: 0 20px;
}

.logo {
  max-width: 280px;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
  }
  .arrow {
    font-size: 1.5rem;
    padding: 10px;
  }
}
